@font-face {
    font-family: 'Trajanus';
    src: url(trajanusbricks/TrajanusBricks.ttf);
}

*{
    margin: 0;
    padding: 0;
}

:root{
    --yellow: #FED239;
    --white: #E6E6E1;
    --black: #202020;
}