*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--primarydark);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

:root{
    --primary: #134E71;
    --primarydark: #0C3147;
    --secondary: #d69909;
    --secondarylight: #ebb95c;
}

.darkyellowcircle{
    background-color: var(--secondary);
    height: 250px;
    width: 250px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.lightyellowcircle{
    background-color: var(--secondarylight);
    height: 235px;
    width: 235px;
    border-radius: 50%;
}

.bluecircle{
    background-color: var(--primarydark);
    height: 240px;
    width: 245px;
    border-radius: 50%;
    left: 0;
    bottom: 0;
    position: absolute;
}