:root{
    --yellow: #FED239;
    --white: #E6E6E1;
    --black: #202020;
    font-size: 16px;
    box-sizing: border-box;
}

body{
    background-color: #202020;
}

body::-webkit-scrollbar{
    display: none;
}

header{
    height: 15vh;
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--yellow);
    border-bottom: 3px solid var(--black);
}

header a{
    text-decoration: none;
    color: var(--black);
    font-size: 2rem;
}

header a {
    padding: 10px 15px;
    border-radius: 10px;
    transition: .2s ease !important;
}

header a:hover {
    background: rgba(0,0,0,0.08);
    cursor: pointer;
    transform: translateY(-5px);
}

.logout:hover{
    transform: translateY(0);
}

.nav-link{
    font-size: 1.5rem !important;
}

header span{
    width: 11.9%;
}

header img{
    height: 75%;
    margin-right: 7.2%;
}

.logout{
    font-size: 1.25rem;
}

.updImg{
    margin: 0;
}

section{
    height: 100vh;
}

#sec1, #sec1update{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2% 0;
    background: 
    linear-gradient(to top, #000000, #0000001a, transparent),
    url(img/sec1.webp) center / cover no-repeat
    ;
}

#sec1update{
    background: url(img/sec1.webp) center / cover no-repeat;
}

.form-container{
    max-width: 600px;
    min-height: 450px;
    padding: 1rem;
    background-color: rgba(255, 255, 255, .5);
    color: var(--black);
    padding: 0;
    border-radius: 20px;
    align-self: center;
}

.nomeCpf, .telEmail{
    display: flex;
    gap: 20px;

    & .form-floating{
        align-items: end;
    }

    & .form-floating label{
        margin-left: 20%;
    }

    & #input2{
        align-items: start;
    }

    & #input2 label{
        margin-left: 0;
    }
}

.buttonContainer{
    width: 100%;
    display: flex;
    justify-content: center;

    & button{
        background-color: var(--yellow);
    }

    & button:hover{
        background-color: var(--yellow);
    }
}

form h1{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: white;
    font-size: 2rem;
    background-color: var(--black);
}

.form-floating {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
}

.areaContainer{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    align-items: center;
}

.areaContainer input {
    width: 80%;
    border-radius: 5px;
}

.form-floating label{
    margin-left: 10%;
}

.form-floating input{ max-width: 80%; }

#sec2{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding-bottom: 50px;

    & h2{
        color: var(--yellow);
    }
}

.tableContainer{
    overflow-x: auto;
}

.tableContainer th, .tableContainer td {
    white-space: normal;
    word-wrap: break-word;
    text-align: center;
}

table{
    max-width: 90vw !important;
    text-wrap: wrap !important;
    table-layout: fixed;
}

footer {
    background-color: var(--black);
}

.footerContainer{
    width: 100%;
}

.socialIcons{
    display: flex;
    justify-content: center;
}

.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: var(--yellow);
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i{
    font-size: 2rem;
    color: var(--black);
    opacity: .9;
}

.socialIcons a:hover{
    background-color: var(--black);
}

.socialIcons a:hover i{
    color: var(--white);
}

.footerNav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
    padding-left: 0;
}

.footerNav ul li a{
    color: var(--white);
    text-decoration: none;
    font-size: 1.3em;
    opacity: .7;
    transition: .5s ease;
}

.footerNav ul li a:hover{
    opacity: 1;
}

.footerBottom{
    background-color: var(--black);
    text-align: center;
}

.footerBottom p{
    color: var(--white);
    margin-bottom: 0;
}

.designer{
    opacity: .7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
}

@media (max-width: 770px){
    .footerNav ul{
        flex-direction: column;
    }

    .footerNav ul li{
        width: 100%;
        text-align: center;
    }

    form{
        font-size: 1rem;
    }

    form h1{
        font-size: 1rem;
    }

    header img{
        height: 55%;
        margin: 0;
    }
}

@media (max-width: 460px){
    table{
        font-size: .6rem;
    }

    .logout{
        font-size: 1rem;
    }

    header img{
        height: 35%;
        margin: 0;
    }
}